<html>

<head>
  <title>GPT-2 movie suggestions!</title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    const suggestions = [
      "I am stuck at home due to the coronavirus outbreak. What are some good movies that will make me feel better?",
      "I love Ryan Gosling. What's your favorite Ryan Gosling movie?",
      "I'm looking for a sci-fi movie set in a desert with huge sand worms...",
      "Any movies similar to The Hunt (Jagten)?",
      "I'm looking for a movie that will make me cry!",
      "Movies about huge disasters threatening all life on Earth",
      "Looking for a good movie to watch with my dad",
      "Are there any meta-movies, i.e. movies about movies?",
      "I'm looking for a movie set in the outdoors",
      "It's been really rainy around here lately, so I'm looking for a movie that'll brighten my life up, literally!",
      "Is Ex Machina a movie that's worth seeing? I'm quite into sci-fi and AI.",
      "What's a good example of a film in which nothing happens?\nI'm looking for a movie that's.. not really about anything, where nothing really happens. Just people going on about their daily lives, things like that."
    ]
    document.addEventListener('DOMContentLoaded', () => {

      var app = new Vue({
        el: '#app',
        data: {
          input: suggestions[Math.floor(Math.random() * suggestions.length)],
          samples: 1,
          loading: false,
          output: []
        },
        methods: {
          submit: function () {
            this.loading = true;
            fetch("/generate", { method: 'post', body: JSON.stringify({ text: this.input, samples: this.samples }), headers: { 'Content-Type': 'application/json' } })
              .then(res => res.json())
              .then(data => {
                this.output = data.data.map(d => d.trim());
                this.loading = false;
              }).catch(err => {
                this.loading = false;
              })
          }
        }
      });

    });
  </script>
  <style>
    #app {
      padding-top: 5em;
    }

    .output {
      white-space: pre-line;
      border: 0.2px solid #eee;
      padding: 1em;
    }
  </style>
</head>

<body>
  <div id="app">
    <div class="container">

      <div class="row">
        <div class="column">
          <h2>GPT-2 movie suggestions</h2>
          <h3>Looking for a movie to watch, but need some specific recommendations? Ask GPT-2!</h3>
          <h5>This GPT-2 model has been finetuned on more than 4 years' worth of data from the <a
              href="https://www.reddit.com/r/MovieSuggestions/">MovieSuggestions</a> subreddit.</h5>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <form v-on:submit.prevent="submit">
            <fieldset>
              <label for="query">Query</label>
              <textarea type="text" v-model="input" :disabled="loading" id="query"></textarea>
              <label for="samples">Number of samples</label>
              <input v-model.number="samples" type="number" id="samples" min="1" max="5">
              <input class="button-primary" type="submit" value="Give me recommendations!" :disabled="loading">
            </fieldset>
          </form>
          <div v-if="loading">loading...</div>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <p v-for="(item, index) in output" class="output">{{ item }}</p>
        </div>
      </div>

    </div>
  </div>
</body>

</html>